<h2>Import Student Grades</h2>
<br/>
<br/>
<%= form_for FileImport.new, multipart: true, method: 'POST' do |f|%>
  <div class="control-group">
    <div class="controls">
      <%= f.file_field :file, :accept => 'text/comma-separated-values, text/csv, application/csv, application/excel, application/vnd.ms-excel, application/vnd.msexcel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', :multiple => true, class: 'button' %>
    </div>
  </div>

  <div class="form-actions">
    <div class="controls">
      <%= submit_tag "Import", class: 'button' %>
      <%= link_to "Cancel", :back, class: 'button' %>
    </div>
  </div>
<% end %>